body
{
   background-image:url(images/D23.gif);
   background-repeat: repeat;
   background-position:center;
}
 
 h1
 {color: blue;
   text-align: left;
   column-count: auto ;
   font-size: large;


 }

 p
 {color:black ;
    font-size: 10px;
    text-align: left;
    column-count: auto;

 
 }

h1 {
    text-align: center;
    margin-top: 4em;
    font-size: 30px;
  }
  
  .LD1{
   background-color:rgba(221, 160, 221, 0.932);
   margin: 50px;
   padding: 40px;
   border: solid black;
   
  }
p
{font-size: x-large;
   text-align:left;

}







.nav{
   display: flex;
   border: 2px solid;
   border-radius: 20px;
   padding: 10px;
   justify-content: center;
   border-color: red;
}
.nav a{
   font-size: 36px;
   margin-right: 30px;
   padding: 50px;
   color:rgb(0, 255, 242);
}







img
{  background-color: rgba(221, 160, 221, 0.82);
   margin: 50px;
   padding: 40px;
   border: solid black;
   display: flex;justify-content: center;
   width: 300px;
   height:300px;


}




h2
{ text-align: center;
   color: rgb(8, 20, 55);
   font-size: 30px;

}

.Vinci1{
   display: flex; 
   justify-content: center;
   
   li{
      list-style-type: lower-greek;
   

   }
   
}


.Vinci2{display: flex;
         
}

.Vinci3{display: flex;
         
}


.Leo1{
   margin: 50px;
   padding: 40px;
   border: solid blue;
   background-color: rgba(110, 43, 226, 0.854);
   font-size: 25px;

}


.Vinci6{margin: 50px;
   padding: 40px;
   border: solid blue;
   background-color: rgba(110, 43, 226, 0.929)



}

.Vinci4{margin: 50px;
   padding: 40px;
   border: solid blue;
   background-color: rgba(221, 160, 221, 0.852)

}


.LD2{margin: 50px;
   padding: 40px;
   border: solid blue;
   background-color: rgba(137, 43, 226, 0.856);


}
.LD3{margin: 50px;
   padding: 40px;
   border: solid blue;
   background-color: rgba(137, 43, 226, 0.911);

} 

.Vinci7{
   margin: 50px;
   padding: 40px;
   border: solid red;
   background-color:rosybrown
}

.Twit img{
height: 40px;
width: 50px

}


  
