.nav a{
    font-size: 25px;
    margin-right: 30px;
    padding: 50px;
    color: red;
    font-size: 36px;
}
.nav{
    display: flex;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
   justify-content: center;
   border-color: red;
}